<div class="text-center">
<h1>Modification des informations sur le produit</h1>
</div>
<%= render 'form', product: @product %>
<br><br>
<<<<<<< HEAD
<div class="text-center">
<td><%= link_to 'Afficher', @product, class: 'btn btn-primary text-light' %> </td>|
=======
<div class="container">
<td><%= link_to 'Montrer', @product, class: 'btn btn-primary text-light' %> </td>|
>>>>>>> a18ee69dace52d41c5220cc7c47d377b2d496544
<td><%= link_to 'Retour', products_path, class: 'btn btn-primary text-light' %></td>
</div>
