<div class="text-center">
<h1>Modification des informations sur le produit</h1>
</div>
<%= render 'form', product: @product %>
<br><br>
<div class="text-center">
<td><%= link_to 'Afficher', @product, class: 'btn btn-primary text-light' %> </td>|
<td><%= link_to 'Retour', products_path, class: 'btn btn-primary text-light' %></td>
</div>
