<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <style>

  .justifier {
    text-align: justify;
    text-justify: inter-word;
  }
  </style>
   </head>
<body>
  <div class="img"></div>
  <div class="center">
    <div class="title"><h2>Bienvenue à Transimo</h2>
      <h4>
        <div class="justifier"><h4>Transimo est l'application (en développement) qui vous aide à mettre toutes les chances de votre côté pour trouver toute sorte de contract de bail et particulièrement votre futur lieu de résidence, rapidement et sans effort.</h4> <br>
        <h4>Que vous soyez demandeur ou offreur, veuillez profiter de Transimo pour rendre facile les transactions immobilières.</h4>
        </div>
</h4>
    </div>


    <br><br><br>
    <div class="sub_title">Cliquer sur Accès pour vous identifier ou vous inscrire !!!!!</div>
    <div class="btns"><br><br>

      <button><%= link_to 'Accès', new_user_session_path %></button>
    </div>
  </div>
</body>
</html>
